@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  // font-weight: 400;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}
